*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{

    background:#0b1120;

    color:white;

    font-family:Arial, Helvetica, sans-serif;

}

.container{

    display:flex;

    min-height:100vh;

}
